@charset "UTF-8";

body{
	background-color: #B4869F;
	font-family: 'Spectral', serif;
	font-family: 'Karla', sans-serif;
	font-size:1.3rem;
	color: #DCD6F7;
	line-height:1.5;
}

article{
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	padding: 3%;
	width: 40%;
	background-color: #424159;
}

ul {
    width: 70%;
    margin: auto;
}

li{
	font-size:1.4rem;
	font-family: 'Karla', sans-serif;
}

a{
	color: #A6B1E1;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

h1{
	margin: 0;
	font-family: 'Spectral', serif;
	font-size: 2.5rem;
	text-align: center;
}

.responsive-photo-90{
	display:block;
	width:80%;
	margin-right:auto;
	margin-left:auto;
	max-width:760px;
}
